.example-margin {
  margin: 0 10px;
  font-family: 'Kanit', sans-serif;
}

.example-form-margin {
 
  margin: 0 10px;
  font-family: 'Kanit', sans-serif;
}

.formsection{ 
  margin-top: 5%;
}

.font-type {
  font-family: 'Kanit', sans-serif;
}